{% load static %}
<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% block styles %}{% static 'styles.css' %}{% endblock %}">
    <title>{% block title %} Cars4Rent {% endblock %}</title>
  </head>
  <body>
    <div class="header">
        <div class="admin-panel">
            {% if user.is_staff %}
            <a href="{% url 'admin:index' %}">Администрирование</a>
            {% endif %}
        </div>
        <div>
            <div class="menu-box">
                <a href="{% url 'index' %}">Главная</a>
                <a href="{% url 'cars:list' %}">К автомоблям</a>
                <a href="{% url 'cars:orderList' %}">Заказы</a>
            </div>
        </div>
        <div>
            <div class="personal-room">
                <a href="{% url 'user:profile' %}">
                    {% if user.is_authenticated %}
                        {% if user.last_name or user.first_name %}
                            {{ user.last_name }} {{ user.first_name }}
                        {% else %}
                            {{ user.username }}
                        {% endif %}
                    {% else %}
                        Личный кабинет
                    {% endif %}
                </a>
                <i class="far fa-user"></i>
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
          {% block content %}
          {% endblock %}
      </div>
    </div>
  </body>
</html>