{% extends 'app.html' %}
{% load static %}
{% block styles %} {% static 'car-styles.css' %} {% endblock %}
{% block title %}Автомобили{% endblock %}
{% block content %}
    {% if car_list %}
        {% for car in car_list %}
            <div class="car">
                <div class="image" style="background-image: url({{ car.photo.url }})"></div>
                <div>
                    <div class="title">
                      <b>{{ car.manufacturer }} {{ car.model }}</b>
                      <div class="year">{{car.createYear}} год</div>
                    </div>
                    <div class="price"><b>{{car.price}}₽</b><span>&nbsp;в сутки</span></div>
                    <a class="btn btn-link btn-block"
                            href="{% url 'cars:getById' car.id %}">
                        Карточка автомобиля
                    </a>
                    <a class="btn btn-info btn-block" href="{% url 'cars:createOrder' car.id %}">Забронировать</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <h2>Автомобилей нет</h2>
    {% endif %}
{% endblock %}