{% extends 'app.html' %}
{% load static %}
{% block styles %} {% static 'car-styles.css' %} {% endblock %}
{% block title %}Заказ {{ order.id }}{% endblock %}
{% block content %}
    <div class="d-flex flex-column align-items-center">
        <h2>Заказ {{ order.id }}</h2>
        <div class="car">
            <div class="image" style="background-image: url({{ order.car.photo.url }})"></div>
            <div>
                <div class="title">
                  <b>{{ order.car.manufacturer }} {{ order.car.model }}</b>
                  <div class="year">{{order.car.createYear}}</div>
                </div>
                <div class="d-flex flex-column" style="padding-left: 5px;">
                    <strong>Начало аренды</strong>
                    {{ order.date_start }}
                </div>
                <div class="d-flex flex-column" style="padding-left: 5px;">
                    <strong>Окончание аренды</strong>
                    {{ order.date_finish }}
                </div>
                <div class="price"><b>{{order.car.price}}₽</b><span>&nbsp;в сутки</span></div>
            </div>
        </div>
    </div>
{% endblock %}