{% extends 'app.html' %}
{% block title %} {{ user.last_name }} {{ user.first_name }} {% endblock %}
{% block content %}
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-between">
            <h2>Ваши данные</h2>
            <div>
                <a class="btn btn-primary" href="{% url 'user:logout' %}">Выйти</a>
            </div>
        </div>
        <div class="d-flex flex-column my-3 ml-3">
            <h4>Почта</h4>
            {{ user.email }}
        </div>
        <div class="d-flex flex-column mb-3 ml-3">
            <h4>Псевдоним</h4>
            {{ user.username }}
        </div>
        <div class="d-flex flex-column mb-3 ml-3">
            <h4>Фамилия</h4>
            {% if user.last_name %}
                {{ user.last_name }}
            {% else %}
                Не указано
            {% endif %}
        </div>
        <div class="d-flex flex-column ml-3">
            <h4>Имя</h4>
            {% if user.last_name %}
                {{ user.first_name }}
            {% else %}
                Не указано
            {% endif %}
        </div>
    </div>
{% endblock %}